<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40724096528-d8953v5n739a2gnn8bmtkt7916b01oim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40724096528-d8953v5n739a2gnn8bmtkt7916b01oim</string>
	<key>API_KEY</key>
	<string>AIzaSyDciE2iKuZbhgmpe-ucbahfbm6Gl7KTlN0</string>
	<key>GCM_SENDER_ID</key>
	<string>40724096528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dzach8899.RespondAIv7</string>
	<key>PROJECT_ID</key>
	<string>respondaiv7</string>
	<key>STORAGE_BUCKET</key>
	<string>respondaiv7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40724096528:ios:c0b51fbe7c5c425f4a8c95</string>
</dict>
</plist>